RewriteEngine On
RewriteRule ^\.well-known/webfinger https://gts.arch-linux.cz/.well-known/webfinger [R=301,L]
RewriteRule ^\.well-known/nodeinfo https://gts.arch-linux.cz/.well-known/nodeinfo [R=301,L]
RewriteRule ^\.well-known/host-meta https://gts.arch-linux.cz/.well-known/host-meta [R=301,L]
